$white: #ffffff;
$blue-grey-400: #BDBFC1 !default;
$grey-900: #BDBFC1 !default;
$grey-400: #BDBFC1 !default;
$grey-500: #58595B !default;
$grey-600: #201F1F !default;

.theme-grey{

    ::selection {
        color: $white;
        background: $grey-500;
    }

    .page-loader-wrapper{
        background: $grey-500;
    }

    #left-sidebar .nav-tabs .nav-link.active{
        color: $grey-500;
    }

    &:before,
    &:after{
        background: $grey-500;
    }

    #wrapper{
        &:before,
        &:after{
            background: $grey-500;
        }
    }

    .sidebar-nav .metismenu>li.active>a{
        border-left-color: $grey-500;
    }

    .navbar-nav ul.menu-icon{
        background: $grey-500;
    }

    .fancy-checkbox {
        input[type="checkbox"] {

            &:checked + span:before {
                background: $grey-500;
                border-color: $grey-500;
            }
        }
    }

    .chat-widget {
        li {
            &.right {

                .chat-info {
                    background: $grey-500;
                    color: $white;

                    &:before{
                        border-left: 10px solid $grey-500;
                    }
                }
            }
        }
    }

    .fc .fc-view-container .fc-view.fc-basic-view>table>thead tr th.fc-widget-header, .fc-view.fc-dayGrid-view>table>thead tr th.fc-widget-header{
        background: $grey-500;
        border-color: $grey-500;
        color:$white;
        border: 1px solid #eee;
        padding: 10px;
    }

    .blog-page .single_post .footer .stats li a:hover{
        color: $grey-500;
    }

    .auth-main{
        .btn-primary{
            background: $grey-500;
            border-color: $grey-500;
        }
    }

    .sidebar-nav .metismenu>li i{
        color: $grey-500;
    }

    .right_chat li a:hover{
        .media-object {
            border-color: $grey-500;
        }
    }



}
